
@font-face {
    font-family: 'GothamPro_converted';
    src: url('../fonts/GothamPro-Bold.woff') format('woff'),
            ('../fonts/GothamPro-Bold.eot') format('embedded-opentype');
    font-weight: 700;
    font-style: normal;
    font-display: optional; /* block */
  }
  @font-face {
    font-family: 'GothamPro_converted';
    src: url('../fonts/GothamPro-LightItalic.woff') format('woff'), 
            ('../fonts/GothamPro-LightItalic.eot') format('embedded-opentype');
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: 'GothamPro_converted';
    src: url('../fonts/GothamPro-Light.woff') format('woff'),
            ('../fonts/GothamPro-Light.eot') format('embedded-opentype');
    font-weight: 300;
    font-style: normal;
  }

  html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0; 
 }
 
  body {
    font-family: 'GothamPro_converted',  Arial, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    color: #221f1f;
    background-color: fff;
} 

.wrapper {
    min-width: 1140px;
    position: relative;
    overflow: hidden;
    min-height:100%;
}

.wrapper:after {
    content: "";
    display: block;
    height: 77px;
}

.clearfix:after {
    content: "";
    display: block;
    clear:both;
}
.container {

    width: 1100px;
    margin: 0 auto;
    padding: 5px;
}


h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}


p{
    margin: 0;
}

a
{text-decoration: none;}

.header{
    background-color: #27273e;
}
.header__top{
    padding-top: 10px;
}

.header__top-left, .header__top-right { 
    width: 50%;
}

.header__top-left{
    float: left;
} 
.header__top-right{
    float: left;
    text-align: right;
}
.banner{
    display: block;
}
.contacts{
    display: inline-block;
}
.contacts__phone{
    font-size: 21px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.contacts__schedule{
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: #c02169;
    text-decoration: underline;
}

.content{
    padding-top: 67px; 
}
.aside{
    width: 120px;
    float:left;
}
.menu__item{
    margin-bottom: 33px;
}

.menu__item--active .menu__title {
    color: #424242;
 }
/*  
 .menu__item--active .menu__icon--main {
     background-image: url('../img/icons/main_icon-hover.png'); */
  /* } */
 .menu__link:hover .menu__title{
 color: #424242;
 }

 .menu__link:hover .menu__icon--reviews{
 background-image: url('../img/icons/feed_icon_hover.png')
}
.menu__link:hover .menu__icon--tariffs{
background-image: url('../img/icons/wallet_icon_hover.png')
}
    
.menu__icon {

    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}


.menu__icon--main{
    background-image: url('../img/icons/main_icon_hover.png');
}
.menu__icon--reviews{
    background-image: url('../img/icons/feed_icon.png');
}
.menu__icon--tariffs{
    background-image: url('../img/icons/wallet_icon.png');
}

.menu__title{
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 700;
    color: #ec1e79;
    text-transform: uppercase;
    margin-left: 18px;
}


.main-content{
    width: 910px;
    float: left;
padding-left: 70px;
}

.title{
    font-size: 49px;
    font-weight: 700;
    margin-bottom: 67px;
}

.special__columns{
    margin-bottom: 90px;
}
.special__lists{
    display:inline-block;
    width: 230px;
}

.special__item{
    text-align: left;
}

.special__text {
    color: #221f1f;
}
.special__column{
    text-align: center;
}

.special__img{
    display: inline-block;
    height:70px;
    width:70px;
    background-color: #27273e;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-bottom: 35px;
}

.special__icon{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin: auto;
}

.special__type{
    font-size: 10.78px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 30px;
}

.special__item, .special__subtitle{
    font-size: 18px;
    font-weight: 400;
}

.special__subtitle, .special__type {
text-align: center;
}
.special__list {
list-style: disc;
color: #c02169;
padding-left: 50px;
}



.listing{
    padding-bottom: 60px;
}

.listing__item{
    display:inline-block;
    margin-bottom: 65px;
    padding-top: 30px;
    border-bottom: 2px solid #f5f5f5;
}

.listing__item:last-child{
    border-bottom: none;
    padding-bottom: 65px;
}

.listing__img{
    float:left;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
}


.listing__description{
    float: right;
    width: 700px;
}

.listing__date{
    font-size: 14px;
    font-weight: 300;
    color: #6f6e6e;
    margin-bottom: 10px;
}

.listing__subtitle{
    font-size: 18px;
    font-weight: 700;
    color: #221f1f;
    margin-bottom: 20px;
}

.pagination{
    text-align: center;
    margin-bottom: 70px;
}

.pagination__text{
    margin-right: 29px;
    font-size: 14px;
    font-weight: 300px;
}
.pagination__text, .pagination__pages{
    display: inline-block;
    vertical-align: middle;
}
.pagination__list, .pagination__button-left, .pagination__button-right{
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle;
}
.pagination__button-left, .pagination__button-right {
    display: inline-block;
    vertical-align: middle;
    height:10px;
    width:1em;
    background: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    
}
.pagination__button-left{
    background-image: url('../img/icons/arrow_left.png')
}
.pagination__button-right{
    background-image: url('../img/icons/arrow_right.png')
    }
.pagination__item{
    display: inline-block;
}
.pagination__link{
    display:inline-block;
    padding:3px 9px;
    border-radius: 3px;
    color: #221f1f;
    font-size: 14px;
    font-weight: 700;
    transition: .3s;
}
.pagination__link:hover{
    background-color: #27273e;
    color: #fff;
}

.footer {
    height: 77px;
    background-color: #27273e;
    min-width:1100px;
    margin-top: -77px;
}

.footer__column-centre {
    text-align: center;
}

.copyright {
    font-weight: 300;
    color: #fff;
    font-size: 14px;
}

.logo {
    display: inline-block;
    padding-top: 5px;
}

.footer__column{
    width: 33.3%;
    float: left;
}

.footer_column-right{

    text-align: right;
}

.copyright {
    font-weight: 300;
    color: fff;
}

.socials{
display:inline-block;
}

.socials__title{
    font-size: 14px;
    font-weight:700;
    color: #fff;
    margin-bottom:10px;
}

.socials__item{
    display: inline-block;
    margin-right: 6px;
}

.socials__link{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-color: rgba(212, 212, 216, .8);
    transition: .5s;
}

.socials__link:hover{
    background-color: rgba(236, 30, 121, .8)
}

.socials__icon{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin: auto;
}


