
@font-face {
    font-family: 'GothamPro_converted';
    src: url('../fonts/GothamPro-Bold.woff') format('woff'),
            ('../fonts/GothamPro-Bold.eot') format('embedded-opentype');
    font-weight: 700;
    font-style: normal;
    font-display: optional; /* block */
  }
  @font-face {
    font-family: 'GothamPro_converted';
    src: url('../fonts/GothamPro-LightItalic.woff') format('woff'), 
            ('../fonts/GothamPro-LightItalic.eot') format('embedded-opentype');
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: 'GothamPro_converted';
    src: url('../fonts/GothamPro-Light.woff') format('woff'),
            ('../fonts/GothamPro-Light.eot') format('embedded-opentype');
    font-weight: 300;
    font-style: normal;
  }